
<div class="col-lg-12 details-container" *ngIf="details">
  <div class="col-lg-12">
      Name: {{ details?.TitleName}}
  </div>

  <div class="col-lg-12 margin-top-sm">
    Release Year : {{ details?.ReleaseYear }}
  </div>

  <div class="col-lg-12 margin-top-sm margin-bottom-sm">
    Genres:
  </div>

  <div class="col-lg-12">
      <mat-chip-list>
          <mat-chip *ngFor="let genre of details.Genres">
            {{ genre }}
          </mat-chip>
        </mat-chip-list>
  </div>

  <div class="col-lg-12 margin-top-lg margin-bottom-sm">
    Awards: <span *ngIf="details.Awards.length === 0"> N/A </span>
  </div>

  <div class="col-lg-12 margin-top-lg margin-bottom-lg" *ngIf="details.Awards.length > 0">
    <table mat-table [dataSource]="details.Awards" class="awards-container mat-elevation-z8">
      <ng-container matColumnDef="AwardCompany">
          <th mat-header-cell *matHeaderCellDef> Award Company </th>
          <td mat-cell *matCellDef="let elm"> {{elm.AwardCompany}} </td>
      </ng-container>

      <ng-container matColumnDef="Award">
          <th mat-header-cell *matHeaderCellDef> Award </th>
          <td mat-cell *matCellDef="let elm"> {{elm.Award}} </td>
      </ng-container>

      <ng-container matColumnDef="AwardYear">
          <th mat-header-cell *matHeaderCellDef> Award Year </th>
          <td mat-cell *matCellDef="let elm"> {{elm.AwardYear}} </td>
      </ng-container>

      <ng-container matColumnDef="AwardWon">
          <th mat-header-cell *matHeaderCellDef> Award Won </th>

          <td mat-cell *matCellDef="let elm">
            <span class="award-won" *ngIf="elm.AwardWon === true">
              Yes
            </span>

            <span class="award-lost" *ngIf="elm.AwardWon === false">
              No
            </span>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
