<div class="container-fluid">

  <div class="row main-nav-bar">
    <div class="col-xs-12 main-nav-container">
      Movie Title Finder
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-search (titleSearched)="searchTitle($event)"></app-search>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <mat-progress-bar mode="query" *ngIf="loading"
        class="loading-container"></mat-progress-bar>

      <mat-card *ngIf="foundNoResults" class="found-no-match">
        No Match
      </mat-card>

      <mat-list class="title-list-container" *ngIf="titleFound">
        <mat-list-item *ngFor="let title of titleFound">
          <a [routerLink]="['/details', title.TitleId ]">
            {{ title?.TitleName }}
          </a>
        </mat-list-item>
       </mat-list>

       <router-outlet></router-outlet>
    </div>
  </div>


 </div>
