:host {
	.main-nav-bar {
    background: #eee;
    min-height: 100px;
    margin-bottom: 20px;
  }
    
	.main-nav-container {
		padding: 40px 0 0px 40px;
		font-size: 18px;
		color: darkblue;
		font-weight: bold;
	}

	.title-list-container {
		padding: 20px 0 0 15px;
	}

	.loading-container {
		margin-top: 25px;
	}

	.found-no-match {
		margin: 20px 0 0 25px;
	}
}