/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.max-width {
  width : 100%;
}

.margin-top-lg {
  margin-top: 20px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-bottom-lg {
  margin-bottom: 20px;
}
