<div class="col-lg-12">
	<div class="col-lg-10">
		<mat-form-field class="example-full-width max-width">
			<input matInput placeholder="Enter Movie Title" [(ngModel)]="title">
		</mat-form-field>
	</div>

	<div class="col-lg-2">
		<div class="example-button-row">
			<button mat-raised-button color="primary" 
				(click)="search($event)">Search</button>
		</div>
	</div>
</div>